:root{
    --backgroundcolor: rgb(189, 26, 59);
    --titlebackgroundcolor: rgb(4, 4, 182); 
}

input{
  height: 3em;
  font-size: medium;
}
body{
    margin: 0;
    display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--backgroundcolor); 
  font-size: xx-large;


}


#titleElement{
background-color: var(--titlebackgroundcolor);
padding: 2em;
align-self: center;
text-align: center;
width: 100%;

}


#userForm{
  background-color: var(--titlebackgroundcolor);
  display: flex;
  flex-direction: column; 
  padding: 2em;
  border-radius: 1rem;
  border-width: 0.1em;
  border-style: solid;
  margin-top: 5em;

  text-align: center;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;

}
#availableusers{
  margin-top: 5em;
  text-align: center;
  background-color: var(--titlebackgroundcolor);
  width: 75%;
  align-self: center;
  border-radius: 1rem;
  border-width: 0.1em;
  border-style: solid;
  padding: 2em;
}
.button1,.button2{
  border: 1em;
  background-color: var(--titlebackgroundcolor);
  margin-bottom: 1em;
  
  
 
}
#buttons{
  align-self: center;
  width: 25%;
  margin-top: 1em;
  text-align: center;
}
#buttons a{
 color: rgb(10, 8, 8);
}