:root{
    --backgroundcolor: rgb(133, 133, 173);
    --titlebackgroundcolor: rgb(44, 44, 119); 
    --textColor: rgb(211, 211, 235); 
    color: var(--textColor); 
}

input{
  height: 3em;
  font-size: medium;
  font-style:oblique;
}
body{
    margin: 0;
    display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--backgroundcolor); 
  font-size: xx-large;
  font-style:oblique;

}


#titleElement{
background-color: var(--titlebackgroundcolor);
padding: 2em;
align-self: center;
text-align: center;
width: 100%;
font-style:oblique;
}


#userForm{
  background-color: var(--titlebackgroundcolor);
  display: flex;
  flex-direction: column; 
  padding: 2em;
  border-radius: 1rem;
  border-width: 0.1em;
  border-style: solid;
  margin-top: 5em;
  font-style:oblique;
  text-align: center;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;

}
#UsersInSystem{
  margin-top: 5em;
  text-align: center;
  background-color: var(--titlebackgroundcolor);
  width: 75%;
  align-self: center;
  border-radius: 1rem;
  border-width: 0.1em;
  border-style: solid;
  padding: 2em;
  font-style:oblique;
}
#availablebooks{
  margin-top: 5em;
  text-align: center;
  background-color: var(--titlebackgroundcolor);
  width: 75%;
  align-self: center;
  border-radius: 1rem;
  border-width: 0.1em;
  border-style: solid;
  padding: 2em;
  font-style:oblique;
}
#availablebooks div{
  width: 25vw;
  height: 25vh;
  background-color: var(--backgroundcolor);
  display: inline-block;
  margin: 1em;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  font-style:oblique;

}
#Checkoutbooks{
  margin-top: 5em;
  text-align: center;
  background-color: var(--titlebackgroundcolor);
  width: 75%;
  align-self: center;
  border-radius: 1rem;
  border-width: 0.1em;
  border-style: solid;
  padding: 2em;
  font-style:oblique;
  flex-direction: row;
  display: flex;
}
#Checkoutbooks div{
  height: 25vh;
  background-color: var(--backgroundcolor);
  display: inline-block;
  font-style:oblique;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;


}

.button1,.button2{
  border: 1em;
  background-color: var(--titlebackgroundcolor);
  margin-bottom: 1em;
  font-style:oblique;
  
 
}
#buttons{
  align-self: center;
  width: 25%;
  margin-top: 1em;
  text-align: center;
  font-style:oblique;
}
#buttons a{
 color:var(--textColor);
 font-style:oblique;
}
.formElement{
  background-color:var(--backgroundcolor) ;
  margin: 1em;
  font-style:oblique;
}
.formElement button{
  width: 8vw;
  height: 5vh;
  font-style:oblique;
}
.overdue{
  background-color: red ;
  font-style:oblique;
}
.formElement{
  width: 25%;
  font-style:oblique;
}
#ListElement{
  background-color:var(--titlebackgroundcolor); 
  color:var(--textColor);
  font-style:oblique;
  align-self: center;
  width: 50%;
  
}
#FigElement
{
  align-self: center;
width: 10vh; 
}
#filter-container {
  margin-bottom: 20px;
  text-align: center;
}

#filterBar {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

#filterBar:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}