:root {
  --backgroundcolor: rgb(133, 133, 173);
  --titlebackgroundcolor: rgb(44, 44, 119);
  --textColor: rgb(211, 211, 235);
  color: var(--textColor);
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundcolor);
  font-size: xx-large;
}
#titleElement {
  background-color: var(--titlebackgroundcolor);
  padding: 2em;
  align-self: center;
  text-align: center;
  width: 100%;
}

#checkOutElement {
  width: 100vw;
  height: 50vh;
  margin-top: 5em;
  align-self: center;
  background-color: var(--titlebackgroundcolor);
  border-radius: 1rem;
  border-width: 0.1em;
  border-style: solid;
  overflow: scroll;
  overflow-y: scroll;
  align-content: normal;
}
#checkOutElement div {
  height: 60%;
  width: 15%;
  background-color: var(--backgroundcolor);
  display: inline-block;
  margin: 1em;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;

}
#checkOutElement h3{
  background-color: var(--titlebackgroundcolor);
  align-self: center;
  text-align: center;

}

#avaialableBooksElement {
  height: 50vh;
  width: 100vw;
  margin-top: 5em;
  align-self: center;
  background-color: var(--titlebackgroundcolor);
  border-radius: 1rem;
  border-width: 0.1em;
  border-style: solid;
  overflow: scroll;
  overflow-y: scroll;
}
.grandparent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
  overflow: scroll;
  overflow-y: scroll;
  position: relative;
  margin: 10px;
  
}

#avaialableBooksElement h3{
  background-color: var(--titlebackgroundcolor);
  align-self: center;
  text-align: center;
  /* display: flex;
  flex-direction: column; */

}

#buttons {
  border: 1em;
  background-color: var(--titlebackgroundcolor);
  margin-bottom: 1em;
  width: 25%;
  align-self: center;
  margin-top: 2em;

  text-align: center;
}
.parent {
  width: 500px;
  margin: 10px;
  padding: 10px;
  height: 500px;
  align-self: center;
  background-color: var(--titlebackgroundcolor);
  position: relative;
}
.parent div{
  height: 100%;
  background-color: var(--backgroundcolor);
  margin: 1em;
  overflow: scroll;
  overflow-y: scroll;
  position:absolute;
}
.cardElement{
  opacity: 0;
  /* width: 100%; */
  /* width: 400px; */
}
.cardElement:hover{
opacity: 100;
}
.imageDiv img{
 width: 100%;;
}
.button {
  text-align: center;
  width: 25%;
}
.button a {
  color: rgb(10, 8, 8);
}
.book {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.cards{
  width: 450px; 
}